# Application
NODE_ENV=
APP_PORT=
APP_NAME=
API_PREFIX=
API_DEFAULT_VERSION=

# Database
MONGO_URI=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=

# Session
SESSION_SECRET=
SESSION_MAX_AGE=

# CORS
CORS_ORIGIN=

# Rate Limiting
THROTTLE_TTL=
THROTTLE_LIMIT=

# Logging
LOG_LEVEL=
